* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.homeContainer {
    width: 100%;
}

.homeContainer .homeBanner {
    position: relative;
    width: 100%;
}

.homeContainer .homeBanner picture img {
    width: 100%;
}

.homeContainer .homeBanner .homeBannerTxt {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
    z-index: 99;
}

.homeContainer .homeBanner .homeBannerTxt h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.homeContainer .homeBanner .homeBannerTxt a {
    font-size: 15px;
    padding: 5px 0;
    color: #054b16;
    background-color: #9bf00e;
    text-decoration: none;
    font-weight: 900;
    width: 220px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: all ease .3s;
}

.homeContainer .homeBanner .homeBannerTxt a:hover {
    background-color: #fff;
}

.homeContainer .homeIcons ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 0;
    width: 100%;
    justify-content: center;
}

.homeContainer .homeIcons ul li {
    margin: 20px 0;
    width: 40%;
}

.homeContainer .homeIcons ul li a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #107c10;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.homeContainer .homeIcons ul li a i {
    font-size: 40px;
    margin-bottom: 5px;
    color: #107c10;
}

.homeContainer .homeIcons ul li a:hover {
    color: #054b16;
}

.homeContainer .homeAds {
    padding: 0 2%;
    width: 100%;
}

.homeContainer .homeAds .Ad {
    width: 100%;
    margin-bottom: 3px;
    position: relative;
}

.homeContainer .homeAds .Ad .AdTwo {
    width: 100%;
}

.homeContainer .homeAds .Ad .AdImg {
    background-position: top;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.homeContainer .homeAds .Ad .AdTxt {
    background-color: #2f302f;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 40px 15px;
    position: absolute;
    width: 100%;
}

.homeContainer .homeAds .AdTwo .Ad:nth-child(1) .AdTxt {
    background-color: #107c10;
}

.homeContainer .homeAds .Ad .AdTxt h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.homeContainer .homeAds .Ad .AdTxt p {
    font-size: 15px;
    margin-bottom: 30px;
}

.homeContainer .homeAds .Ad .AdTxt a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.homeContainer .homeAds .Ad .AdTxt a:hover {
    text-decoration: underline;
}

.homeContainer .homeFreeGames {
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    padding: 60px 5%;
    width: 100%;
}

.homeContainer .homeFreeGames .homeGame {
    width: 290px;
    background-color: #107c10;
    margin: 10px 0;
}

.homeContainer .homeFreeGames .homeGame .homeGameImg,
.homeContainer .homeFreeGames .homeGame .homeGameImg img {
    width: 100%;
}

.homeContainer .homeFreeGames .homeGame .homeGameTxt {
    color: #fff;
    padding: 20px;
}

.homeContainer .homeFreeGames .homeGame .homeGameTxt h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

.homeContainer .homeFreeGames .homeGame .homeGameTxt a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.homeContainer .homeFreeGames .homeGame .homeGameTxt a:hover {
    text-decoration: underline;
}

.homeContainer .homeFreeGames h2 {
    width: 100%;
    font-size: 26px;
    margin: 0 0 25px 2%;
    color: #fff;
}

.homeContainer .homeRecomended {
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
}

.homeContainer .homeRecomended h2 {
    width: 100%;
    color: #4b4b4b;
    font-size: 26px;
    margin: 0 0 25px 7%;
}

@media screen and (min-width: 768px) {
    .homeContainer .homeBanner .homeBannerTxt {
        top: auto;
        bottom: 100px;
    }

    .homeContainer .homeBanner .homeBannerTxt h2 {
        font-size: 46px;
        margin-bottom: 15px;
    }

    .homeContainer .homeBanner .homeBannerTxt p {
        font-size: 34px;
        margin-bottom: 15px;
    }

    .homeContainer .homeIcons ul li {
        margin: 35px 0;
        width: 23%;
    }

    .homeContainer .homeAds {
        padding: 0 1%;
    }

    .homeContainer .homeAds .Ad {
        margin-bottom: 5px;
    }

    .homeContainer .homeAds .Ad .AdImg {
        height: 85vh;
    }

    .homeContainer .homeAds .AdTwo .Ad:nth-child(1) .AdImg {
        height: 60vh;
    }

    .homeContainer .homeAds .Ad .AdTxt {
        background-color: #2f302fb6;
        padding: 40px 0 65px 25px;
    }

    .homeContainer .homeAds .AdTwo .Ad:nth-child(1) .AdTxt {
        background-color: #107c10cb;
    }

    .homeContainer .homeAds .Ad .AdTxt h3 {
        font-size: 46px;
    }

    .homeContainer .homeAds .Ad .AdTxt p {
        font-size: 20px;
    }

    .homeContainer .homeFreeGames {
        padding: 80px 5%;
    }

    .homeContainer .homeFreeGames .homeGame {
        width: 290px;
        background-color: #107c10;
        margin: 10px 20px;
    }
}

@media screen and (min-width: 1084px) {
    .homeContainer .homeBanner .homeBannerTxt {
        align-items: flex-start;
        bottom: 0;
        height: 100%;
        justify-content: center;
        padding: 0 200px 0 72px;
        top: auto;
    }

    .homeContainer .homeIcons {
        padding: 20px 0;
    }

    .homeContainer .homeIcons ul li {
        margin: 35px 0;
        width: 13%;
    }

    .homeContainer .homeAds {
        padding: 0 .7%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .homeContainer .homeAds .Ad {
        width: 49.8%;
        display: flex;
        justify-self: stretch;
    }

    .homeContainer .homeAds .Ad .AdImg {
        height: auto;
    }

    .homeContainer .homeAds .AdTwo {
        width: 49.8%;
    }

    .homeContainer .homeAds .AdTwo .Ad {
        width: 100%;
    }

    .homeContainer .homeAds .AdTwo .Ad .AdImg {
        height: 60vh;
    }

    .homeContainer .homeFreeGames {
        padding: 100px 5%;
    }

    .homeContainer .homeFreeGames h2, .homeContainer .homeRecomended h2 {
        font-size: 34px;
    }

    .homeContainer .homeRecomended {
        padding: 70px 0;
    }

}