.bg-form{
    background-image: url("../images/bg-signup.jpeg");
    background-position: center 30px;
}
.signup-form{
    width: 300px;
    margin: 90px auto;
    padding: 30px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 60px 3px #000;
} 
.signup-form h2{
    text-align: center;
    margin: 10px 0;
}
.signup-form label{
    margin-bottom: 15px;
    
}
.signup-form input{
    width: 100%;
    height: 42px;
    border: 1px solid #eee;
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
}
.signup-form button{
    width: 100%;
    height: 40px;
    background: #3AAFA9;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 3px;
}
.signup-form button:hover{
    background: #39dc79;
    transition: all 0.2s ease-in-out;
}
.signup-form p{
    margin-bottom: 15px;
    text-align: center;
    color: #b3b3b3;
    font-size: 13px;
}
.form-img input{
    border: none;
    width: 100%;
}
.signup-form .checkbox-product{
    width: 10px;
    height: 10px;
    border: 1px solid #eee;
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
}
.error{
    display: block;
    margin-bottom: 15px;
    text-align: left;
    color: red;
    font-size: 13px;
}
.form-create-product{
    padding:20px;
}
.remember{
    display: flex;
    justify-content: left;
    align-items: center;
}
.remember input{
    width: 15px;
    margin: 0 15px;
}
.remember span{
    font-size: 12px;
}
@media screen and (min-width: 450px){
    .signup-form{
        width: 400px;
        margin: 90px auto;
    }
}