* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.profileContainer {
    width: 100%;
}

.profileContainer .profileInfo {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.profileContainer .profileInfo .blur {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 5% 40px;
    text-align: center;
}

.profileContainer .profileInfo .blur img {
    align-self: center;
    border-radius: 100%;
    border: 5px solid #107c10;
    width: 60%;
}

.profileContainer .profileInfo .blur div h1 {
    color: #a7a7a7;
    font-size: 40px;
    margin: 10px 0 5px;
}

.profileContainer .profileInfo .blur div h4 {
    color: #fff;
    font-size: 18px;
}

.profileContainer .profileInfo .blur div p {
    color: #fff;
    font-style: italic;
    margin-bottom: 15px;
}

.profileContainer .profileInfo .blur div a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

.profileContainer .profileInfo .blur div a:hover {
    text-decoration: underline;
}

.profileContainer .profileLibrary {
    padding: 30px 3% 50px;
    width: 100%;
}

.profileContainer .profileLibrary h2 {
    color: #363636;
    font-size: 30px;
    margin-bottom: 25px;
}

.profileContainer .profileLibrary .empty {
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #363636;
    padding: 130px 3%;
    text-align: center;
}

.profileContainer .profileLibrary .empty h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.profileContainer .profileLibrary .empty p {
    margin-bottom: 25px;
}

.profileContainer .profileLibrary .empty a {
    color: #363636;
    text-decoration: none;
    transition: all ease .3s;
}

.profileContainer .profileLibrary .empty a:hover {
    color: #107c10;
    text-decoration: underline;
}

.profileContainer .profileLibrary .libraryList {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.profileContainer .profileLibrary .libraryList a {
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid #ffffff;
    transition: all ease .3s;
}

.profileContainer .profileLibrary .libraryList a:hover {
    border-bottom: 2px solid #4e4e4e;
}

.profileContainer .profileLibrary .libraryList a div {
    background-color: #fff;
    color: #000;
    width: 140px;
    height: 300px;
    padding-bottom: 25px;
}

.profileContainer .profileLibrary .libraryList a div img {
    margin-bottom: 10px;
    width: 100%;
}

.profileContainer .profileLibrary .libraryList a div h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.profileContainer .profileLibrary .libraryList a div h4 {
    font-size: 16px;
    font-weight: 400;
}

.profileContainer .profilePromo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.profileContainer .profilePromo .profilePromoTxt {
    background-color: #2f2f2f;
    color: #ffffff;
    padding: 70px 5%;
    text-align: center;
}

.profileContainer .profilePromo .profilePromoTxt h4 {
    font-size: 34px;
    margin-bottom: 30px;
}

.profileContainer .profilePromo .profilePromoTxt p {
    margin-bottom: 20px;
}

.profileContainer .profilePromo .profilePromoTxt a {
    background-color: #9bf00e;
    color: #054b16;
    font-size: 15px;
    font-weight: 900;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease .3s;
}

.profileContainer .profilePromo .profilePromoTxt a:hover {
    background-color: #fff;
}

.profileContainer .profilePromo .profilePromoImg {
    background-size: cover;
    height: 180px;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .profileContainer .profileInfo .blur {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .profileContainer .profileInfo .blur img {
        margin-right: 40px;
        width: 30%;
    }

    .profileContainer .profileLibrary .empty h4 {
        font-size: 34px;
    }

    .profileContainer .profilePromo {
        flex-direction: row;
    }

    .profileContainer .profilePromo .profilePromoTxt {
        background-color: #107c10;
        text-align: left;
        padding: 70px 2% 70px 5%;
        width: 50%;
    }

    .profileContainer .profilePromo .profilePromoTxt h4 {
        font-size: 46px;
    }

    .profileContainer .profilePromo .profilePromoTxt p {
        font-size: 18px;
    }

    .profileContainer .profilePromo .profilePromoImg {
        width: 50%;
        align-self: stretch;
        height: auto;
    }
}

@media screen and (min-width: 1084px) {

    .profileContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .profileContainer .profileInfo {
        width: 25%;
    }

    .profileContainer .profileInfo .blur {
        height: 100%;
        flex-direction: column;
        padding: 0;
        text-align: center;
        justify-content: center;
        padding: 0 30px;
    }

    .profileContainer .profileInfo .blur img {
        margin: 0 0 20px;
        width: 60%;
    }

    .profileContainer .profileLibrary {
        height: 95vh;
        overflow-y: scroll;
        padding: 30px 2% 50px;
        width: 75%;
    }

    .profileContainer .profileLibrary::-webkit-scrollbar {
        width: 0px;
    }

    .profileContainer .profileLibrary::-webkit-scrollbar-track {
        background: #fff;
    }

    .profileContainer .profileLibrary::-webkit-scrollbar-thumb {
        background: #bbbbbb;
    }

    .profileContainer .profileLibrary::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .profileContainer .profilePromo .profilePromoTxt{
        padding: 120px 2% 120px 5%;
    }
}

@media screen and (min-width: 1220px) {

    .profileContainer {
        width: 80%;
        margin: 0 auto;
    }

    .profileContainer .profileLibrary .libraryList a div {
        width: 150px;
        height: 330px;
    }

    .profileContainer .profilePromo {
        margin: 35px 0;
    }

    .profileContainer .profilePromo .profilePromoTxt {
        padding: 130px 2% 130px 5%;
    }
}