<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: "Comunidad" }) %>
<body class="body-comunidad">
    <%- include('nav-bar') %>
    <section class="img-bg-comunidad">
        <h1>Comunidad</h1>
    </section>
    <section>
        <div class="comunidad-container">
            <img class="comunidad-game" src="/images/bg-signup.jpeg" alt="">
            <div class="comunidad-description">
                <div>
                    <img class="comunidad-profile" src="/images/nino.webp" alt="">
                    <h2>Pepito Perez</h2>
                    <h3>Fornite</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sequi molestias aperiam rerum nisi?</p>
                <div>
            </div>
            <a href="">Editar</a>
            <a href="">Eliminar</a>
        </div>
    </section>
</body>
</html>