<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: "Comunidad" }) %>
<body class="body-comunidad">
    <%- include('nav-bar') %>
    <section class="img-bg-comunidad">
        <h1>Comunidad</h1>
    </section>
    <section>
        <div class="comunidad-container">
            <div class="name-comunidad">
                <img class="comunidad-profile" src="/images/nino.webp" alt="">
                <div>
                    <h2>Pepito Perez</h2>
                    <p>hace 2 horas</p>
                </div>
            </div>
            <h3>Fornite</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sequi molestias aperiam rerum nisi?</p>
            <img class="comunidad-game" src="/images/bg-signup.jpeg" alt="">
            <div class="comunidad-description">
            <div class="like-comment">
                <i class="far fa-heart"></i>
                <h4>Comentar</h4>
                <div>
                    <a href="">Editar</a>
                    <a href="">Eliminar</a>
                </div>
            </div> 
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>