<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "World Game Catalog" }) %>

    <body>
        <main>
            <h1>World Games Catalog</h1>
        </main>

    </body>

</html>