<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: "Login" }) %>
</head>
<body class="bg-form">
    <%- include('nav-bar') %>

    <form class="signup-form" action="/users/login" method="POST">
        <h2>Login</h2>
        <p class="message"></p>
        <label for="email">
            <input class="input-email" type="email" name="email" id="email" placeholder="Email">
            <% if(locals.errors && errors.email) {%>
                <p><%=errors.email.msg%></p>
            <%}%>
            
        </label>
        <label for="password">
            <input class="input-password" type="password" name="password" id="password" placeholder="Contraseña">
            <% if(locals.errors && errors.password) {%>
                <p><%=errors.password.msg%></p>
            <%}%>
            
        </label>
        <label class="remember"for="remember">
            <span>Recordar usuario</span>
            <input type="checkbox" name="remember" id="remember" value="true">
        </label>
        <button type="submit">Ingresar</button>
        <p>¿No tienes cuenta? <a href="/users/signup">Registrarse</a></p>
    </form>
    <script src="/js/login.js"></script>
</body>
</html>
