<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { title: "Login" }) %>
</head>
<body class="bg-form">
    <%- include('nav-bar') %>
    <form class="signup-form" action="">
        <h2>Login</h2>
        <label for="email">
            <input type="email" name="email" id="email" placeholder="Email">
        </label>
        <label for="Contraseña">
            <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">
        </label>
        <button type="submit">Ingresar</button>
        <p>¿No tienes cuenta? <a href="/users/signup">Registrarse</a></p>
    </form>
</body>
</html>
