<nav class="nav-home">
    <div class="menu-nav"> 
        <i class="fa-solid fa-bars menu-toggle-nav"></i>
    </div>
    <a href="/"><img class="nav-bar-img" src="/images/Logo.png" alt="WorldGame"></a>
    <div id="nav" class="nav-toggle">
        <ul>
            <li><a href="/products">Todos los juegos</a></li>
            <li><a href="/products?pc=on">Juegos para PC</a></li>
            <li><a href="/products?playstation=on">Juegos para PlayStation</a></li>
            <li><a href="/products?xbox=on">Juegos para Xbox</a></li>
            <li><a href="/community">Comunidad</a></li>
            <li><a href="https://github.com/CristianKB89/worldGame" target="_blank">Desarrolladores</a></li>
        </ul>
    </div>
    <% if(locals.isLogged){ %>
    <!-- <a href="/products/create"><i class="fa-solid fa-plus"></i></a> -->
    <a href="/shoppingCart/<%= locals.user.id %>"><div class="cart-shopping">
        <i class="fa-solid fa-cart-shopping"></i>
    </div></a>
    <% } %>
    <% if (locals.isLogged) { %>
        <img src="/images/usersProfileImages/<%=locals.user.img_user%>" class="userImg login-toggle-nav" alt="<%=locals.user.name%>">
    <% } else { %>
        <i class="fa-regular fa-user login-toggle-nav"></i>
    <% } %>
    <div id="login-nav" class="login-toggle">
        <ul>
            <% if(locals.isLogged){ %>
                <li><a href="/users/profile/<%= locals.user.id %>">Perfil</a></li>
                <li><a href="/users/logout">Cerrar sesión</a></li>
            <% } else { %>
            <li><a href="/users/signup">Registarse</a></li>
            <li><a href="/users/login">Ingresar</a></li>
            <% } %>
        </ul>
    </div>
</nav>
<script src="/js/nav-bar.js"></script>