<%- include('partials/head') %>
<nav class="nav-home">
    <div class="menu-nav"> 
        <i class="fa-solid fa-bars menu-toggle-nav"></i>
    </div>
    <div class="search-nav">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <img src="#" alt="WorldGame">
    <div id="nav" class="nav-toggle">
    <ul>
            <li><a href="#">Juegos para PC</a></li>
            <li><a href="#">Juegos para PlayStation</a></li>
            <li><a href="#">Juegos para Xbox</a></li>
            <li><a href="#">Comunidad</a></li>
            <li><a href="#">Desarrolladores</a></li>
        </ul>
    </div>
    <div class="cart-shopping">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <i class="fa-regular fa-user"></i>


</nav>
<script src="/js/nav-bar.js"></script>