<nav class="nav-home">
    <div class="menu-nav"> 
        <i class="fa-solid fa-bars menu-toggle-nav"></i>
    </div>
    <div class="search-nav">
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <a href="/"><img class="nav-bar-img" src="/images/Logo.png" alt="WorldGame"></a>
    <div id="nav" class="nav-toggle">
        <ul>
            <li><a href="#">Juegos para PC</a></li>
            <li><a href="#">Juegos para PlayStation</a></li>
            <li><a href="#">Juegos para Xbox</a></li>
            <li><a href="/comunidad">Comunidad</a></li>
            <li><a href="#">Desarrolladores</a></li>
        </ul>
    </div>
    <a href="/products/create"><i class="fa-solid fa-plus"></i></a>
    <a href=""><div class="cart-shopping">
        <i class="fa-solid fa-cart-shopping"></i>
    </div></a>
    <i class="fa-regular fa-user login-toggle-nav"></i>
    <div id="login-nav" class="login-toggle">
        <ul>
            <li><a href="/users/signup">signup</a></li>
            <li><a href="/users/login">login</a></li>
        </ul>
    </div>
</nav>
<script src="/js/nav-bar.js"></script>