<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: "Titulo del juego" }) %>
</head>
<body>
    <section class="game-image">
        <a href="#">Comprar</a>
    </section>
    <section>
        <h2>Descripción</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem incidunt, nulla in repellat dolore hic cupiditate voluptatem provident, eius eos accusantium dolores voluptatum fugiat enim tempore magni quaerat eligendi rem!</p>
    </section>
</body>
</html>