<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: "Titulo del juego" }) %>

    <body>
        <%- include('nav-bar') %>
        <main>
            
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>

</html>