<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: "Titulo del juego" }) %>

    <body>
        <%- include('nav-bar') %>
            <main>
                <div class="det-container">
                    <div class="det-header">
                        <div class="det-back-img">
                            <img src="/images/img_product_1.jpg" alt="">
                        </div>
                        <div class="det-overlay"></div>
                        <div class="det-content">
                            <div class="det-img-prd">
                                <img src="/images/img_product_2.jpg" alt="">
                            </div>
                            <div class="det-det-prd">
                                <div class="det-det-prd-1">
                                    <h1>Apex Legends</h1>
                                </div>
                                <div class="det-des">
                                    <span>
                                        Humble Games • Acción y aventura • Puzles y curiosidades
                                    </span>
                                </div>
                                <div class="det-price">
                                    <span>COP$80.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="det-cont-1">
                            <div class="det-cont-1_1">
                                <div class="det-row-1">
                                    <div class="det-acce">
                                        <div class="det-i-acc">
                                            <i class="fa-solid fa-wheelchair-move"></i>
                                        </div>
                                        <span>
                                            3 Funcionalidades de accesibilidad
                                        </span>
                                    </div>
                                </div>
                                <div class="det-acce">
                                    <div class="det-i-idioms">
                                        <i class="fa-solid fa-globe"></i>
                                    </div>
                                    <span>
                                        3 Funcionalidades de accesibilidad
                                    </span>
                                </div>
                            </div>
                            <div class="det-buttons">
                                <div class="det-but-green">
                                  <button>
                                      OBTENER GAME PASS
                                  </button>
                                </div>
                                <div class="det-but-grey">
                                    <button class="det-but-1">
                                        COMPRAR
                                    </button>
                                    <button class="det-but-2">
                                        ● ● ●
                                    </button>
                                </div>  
                          </div>
                        </div>
                    </div>
                    <div class="det-cat">
                        <div class="det-cat-content">
                            <img src="/images/global.jpg" alt="">
                            <div>
                                <h1>ADOLESCENTES</h1>
                                <span>
                                    Sangre, Referencia a drogas, Lenguaje, Temas insinuantes, Violencia, Consum d'alcohol i tabac
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h1>Galeria</h1>
                    </div>
                    <div>
                        <h1>Detalles</h1>
                    </div>
                    <div>
                        <h1>Plataformas</h1>
                    </div>
                    <div>
                        <h1>Funcionalidades</h1>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>