<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Document</title>
</head>
<body>
    <section class="game-image">
        <a href="#">Comprar</a>
    </section>
    <section>
        <h2>Descripción</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem incidunt, nulla in repellat dolore hic cupiditate voluptatem provident, eius eos accusantium dolores voluptatum fugiat enim tempore magni quaerat eligendi rem!</p>
    </section>
</body>
</html>