<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "nickName " }) %>
<script src="/js/userProfile.js"></script>

    <body>
        <%- include('nav-bar') %>
            <main class="profileContainer">
                <section class="profileInfo" style="background-image: url(/images/bg-signup.jpeg);">
                    <div class="blur">
                        <img src="/images/userImg.jpg" alt="userNick">
                        <div>
                            <h1>userNick</h1>
                            <h4>username</h4>
                            <p>email@email.com</p>
                            <span id="editButton">Editar perfil</span>
                            <a href="/">Cerrar sesion </a>
                        </div>
                    </div>
                </section>
                <section class="profileLibrary" id="library">
                    <h2>Mi biblioteca</h2>
                    <div class="empty">
                        <h4>No hay nada, aun!</h4>
                        <p>Conoce tu sigiente juego favorito</p>
                        <a href="/products">Ir ahora</a>
                    </div>
                    <div class="libraryList">
                        <a href="#">
                            <div>
                                <img src="/images/haloimgmuestra2.jpg" alt="banner">
                                <h3>Halo infinite</h3>
                                <h4>Comprado: dd/mm/aaaa</h4>
                            </div>
                        </a>
                    </div>
                </section>
                <section class="profileEdit" id="editForm">
                    <h2>Editar Usuario</h2>
                    <p>email@email.com</p>
                    <form action="">
                        <label for="userNick">
                            NickName:
                            <input type="text" id="userNick" name="userNick">
                        </label>
                        <label for="userName">
                            Nombre:
                            <input type="text" id="userName" name="userName">
                        </label>
                        <label for="userImg">
                            Foto de perfil:
                            <input type="file" id="userImg" name="UserImg">
                        </label>
                        <label for="password">
                            Nueva contraseña:
                            <input type="password">
                        </label>
                        <button type="submit">Guardar</button>
                        <button type="reset" id="editCancel">Cancelar</button>
                    </form>
                </section>
                <section class="profilePromo">
                    <div class="profilePromoTxt">
                        <h4>Amplia tu biblioteca de juegos</h4>
                        <p>Juega lo mejor de lo mejor<br />Mira los mejores calificados</p>
                        <a href="#">Ir ahora</a>
                    </div>
                    <div class="profilePromoImg" style="background-image: url(/images/haloimgmuestra768.jpg);">
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>