<footer>
    <div class="footer-social-networks-icons-box">
        <p>Sigue a Xbox</p>
        <br>
        <div class="social-networks-icons">
            <a href="#"><i class="fas fa-envelope"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <br>
    <div class="footer-lists-box">
        <div class="footer-list">
            <div class="footer-title">
                Examinar
            </div>
            <ul>
                <li><a href="#" class="a-footer">Xbox consolas</a></li>
                <li><a href="#" class="a-footer">Juegos de Xbox</a></li>
                <li><a href="#" class="a-footer">Xbox Game Pass</a></li>
                <li><a href="#" class="a-footer">Accesorios para Xbox</a></li>
            </ul>
        </div>
        <br>
        <div class="footer-list">
            <div class="footer-title">
                Recursos
            </div>
            <ul>
                <li><a href="#" class="a-footer">Noticias de Xbox</a></li>
                <li><a href="#" class="a-footer">Soporte técnico de Xbox</a></li>
                <li><a href="#" class="a-footer">Comentarios</a></li>
                <li><a href="#" class="a-footer">Estándares de la comunidad</a></li>
                <li><a href="#" class="a-footer">Advertencia sobre ataques fotosensibles</a></li>
            </ul>
        </div>
        <br>
        <div class="footer-list">
            <div class="footer-title">
                Micrisoft Store
            </div>
            <ul>
                <li><a href="#" class="a-footer">Cuenta de Microsoft</a></li>
                <li><a href="#" class="a-footer">Soporte técnico de Microsoft Store</a></li>
                <li><a href="#" class="a-footer">Devoluciones</a></li>
                <li><a href="#" class="a-footer">Seguimiento de pedidos</a></li>
            </ul>
        </div>
        <br>
        <div class="footer-list">
            <div class="footer-title">
                Desarrolladores
            </div>
            <ul>
                <li><a href="https://github.com/iDeerBoy" class="a-footer" target="_blank">Jimmy Pulido</a></li>
                <li><a href="https://github.com/CristianKB89" class="a-footer" target="_blank">Cristian Castro</a></li>
                <li><a href="https://github.com/kevinfarukh" class="a-footer" target="_blank">Kevin Marin</a></li>
                <li><a href="https://github.com/kalexcamacho" class="a-footer" target="_blank">Kevin Camacho</a></li>
            </ul>
        </div>
    </div>
</footer>