<article class="postContainer">
    <div class="postUserInfo">
        <img src="/images/userImg.jpg" alt="">
        <div>
            <h2>Pepito Perez</h2>
            <p>hace 2 horas</p>
        </div>
    </div>
    <a href="#">Fornite</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sequi molestias aperiam
        rerum nisi?</p>
    <img class="comunidad-game" src="/images/bg-signup.jpeg" alt="">
    <div class="postButtons">
        <i class="far fa-heart"></i>
        <i class="fa-regular fa-comment"></i>
        <i class="fa-regular fa-pen-to-square editButton"></i>
        <i class="fa-regular fa-trash-can"></i>
    </div>
    <section class="postEdit">
        <form action="">
            <textarea name="description" placeholder="edicion."></textarea>
            <div>
                <label for="imagePost">
                    <i class="fa-regular fa-image"></i>
                    <input type="file" id="imagePost">
                </label>
                <select name="game">
                    <option value="game">Game</option>
                    <option value="game">Game</option>
                    <option value="game">Gamegame</option>
                </select>
                <button type="submit">Publicar</button>
            </div>
        </form>
    </section>
</article>